html {
  background-color: lightgray;
  height: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  min-height: 100%;
}
